<!DOCTYPE html>
<html>

<head>
    <title>DEMOGRAF</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/favicon.ico">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/paper.min.css">
    <link rel="stylesheet" href="css/ion.rangeSlider.css">
    <link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="css/jquery.sidr.dark.css">
    <link rel="stylesheet" href="css/c3.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
    <!--FILTERS AND MAP-->
    <div class="container-fluid" id="form">
        <div class="row">
            <div class="col-md-4">
                <h3>Filters</h3>
                <!--SLIDERS-->
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a data-toggle="tab" href="#tab1">Economic</a></li>
                    <li><a data-toggle="tab" href="#tab2">Housing</a></li>
                    <li><a data-toggle="tab" href="#tab4">Education</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane fade in active">
                        <p>Median Income</p>
                        <input type="text" id="income" value="" name="income" />
                        <br>
                        <p>Percentage Unemployed</p>
                        <input type="text" id="unemployed" value="" name="unemployed" />
                        <br>
                        <p>Percentage Below Poverty</p>
                        <input type="text" id="poverty" value="" name="poverty" />
                        <br>
                        <p>Percentage with SNAP</p>
                        <input type="text" id="snap" value="" name="snap" />
                        <br>
                        <p>Percentage with Cash Assistance</p>
                        <input type="text" id="cash_assistance" value="" name="cash_assistance" />
                    </div>
                    <div id="tab2" class="tab-pane fade">
                        <p>Median House Value</p>
                        <input type="text" id="house_value" value="" name="house_value" />
                        <br>
                        <p>Median Contract Rent</p>
                        <input type="text" id="rent" value="" name="rent" />
                    </div>
                    <div id="tab4" class="tab-pane fade">
                        <p>Percentage of People with Bachelor's Degree</p>
                        <input type="text" id="degree" value="" name="degree" />
                    </div>
                </div>
            </div>
            <div class="col-md-8 ">
                <h3 class="text-center" id="san_diego_name">San Diego</h3>
                <!--MAP-->
                <div id="map"></div>
            </div>
        </div>
    </div>
    <!--NAVBAR-->
    <div class="container-fluid" id="nav">
        <a href="/" id="logo" class="btn btn-link " role="button">DEMOGRAF</a>
    </div>
    <!--SLIDE OUT MENU-->
    <div id="side_menu">
        <p class="text-right side_menu_top" id="side_menu_top"><a href="#" class="btn btn-link" onclick="$.sidr('close', 'side_menu');"><i class="fa fa-times fa-lg"></i></a></p>
        <div id="inside_side_menu" class="inside_side_menu container-fluid">
            <div id="area_name"></div>
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a data-toggle="tab" href="#one">Economic</a></li>
                <li><a data-toggle="tab" href="#two">Housing</a></li>
                <li><a data-toggle="tab" href="#three">Social</a></li>
                <li><a data-toggle="tab" href="#four">Education</a></li>
            </ul>
            <div class="tab-content">
                <div id="one" class="tab-pane fade in active">
                    <div id="median_income_value_chart"></div>
                    <p class="text-center">Median Income Value</p>
                    <div id="unemployed_chart"></div>
                    <p class="text-center">Unemployed</p>
                    <div id="poverty_chart"></div>
                    <p class="text-center">Below Poverty</p>
                    <div id="cash_chart"></div>
                    <p class="text-center">On Cash Assistance</p>
                    <div id="snap_chart"></div>
                    <p class="text-center">On SNAP</p>
                </div>
                <div id="two" class="tab-pane fade in active">
                    <div id="median_house_value_chart"></div>
                    <p class="text-center">Median House Value</p>
                    <div id="median_contract_rent_chart"></div>
                    <p class="text-center">Median Contract Rent</p>
                    <div id="housingcost_chart"></div>
                    <p class="text-center">Percent of Household Income on Housing</p>
                </div>
                <div id="three" class="tab-pane fade in active">
                    <div id="race_chart"></div>
                    <div id="age_chart"></div>
                    <div id="sex_chart"></div>
                    <div id="marital_status_chart"></div>
                    <div id="occupation_chart"></div>
                </div>
                <div id="four" class="tab-pane fade in active">
                    <div id="high_school_chart"></div>
                    <p class="text-center">Percent of Population 25+ with High School Diploma</p>
                    <div id="associates_chart"></div>
                    <p class="text-center">Percent of Population 25+ with Associate's Degree</p>
                    <div id="bachelors_chart"></div>
                    <p class="text-center">Percent of Population 25+ with Bachelor's Degrees</p>
                    <div id="masters_chart"></div>
                    <p class="text-center">Percent of Population 25+ with Master's Degree</p>
                </div>
            </div>
        </div>
    </div>
    <!--JS LIBRARIES-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/d3.min.js"></script>
    <script src="js/c3.min.js"></script>
    <script src="js/topojson.min.js"></script>
    <script src="js/datamaps.none.min.js"></script>
    <script src="js/ion.rangeSlider.min.js"></script>
    <script src="js/jquery.sidr.min.js"></script>
    <script src="js/numeral.min.js"></script>
    <script src="js/demograf.js"></script>
</body>

</html>
