<!DOCTYPE html>
<html>

<head>
    <title>DEMOGRAF</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/favicon.ico">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/paper.min.css">
    <link rel="stylesheet" href="css/ion.rangeSlider.css">
    <link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="css/jquery.sidr.dark.css">
    <link rel="stylesheet" href="css/c3.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
    <!--FILTERS AND MAP-->
    <div class="container-fluid" id="form">
        <h3>Filters
        </h3>
        <div class="row">
            <div class="col-md-4">
                <!--SLIDERS-->
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a data-toggle="tab" href="#tab1">Economic</a></li>
                    <li><a data-toggle="tab" href="#tab2">Housing</a></li>
                    <li><a data-toggle="tab" href="#tab3">Social</a></li>
                    <li><a data-toggle="tab" href="#tab4">Education</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane fade in active">
                        <p>Median Income</p>
                        <input type="text" id="income" value="" name="income" />
                        <br>
                        <p>Unemployed Percentage</p>
                        <input type="text" id="unemployed" value="" name="unemployed" />
                        <br>
                        <p>Percentage of those with SNAP</p>
                        <input type="text" id="snap" value="" name="snap" />
                        <br>
                        <p>Percentage of those with Cash Assistance</p>
                        <input type="text" id="cash_assistance" value="" name="cash_assistance" />
                        <br>
                        <p>Poverty Percentage</p>
                        <input type="text" id="poverty" value="" name="poverty" />
                        <br>
                    </div>
                    <div id="tab2" class="tab-pane fade">
                        <p>Median House Value</p>
                        <input type="text" id="house_value" value="" name="house_value" />
                        <br>
                        <p>Median Contract Rent</p>
                        <input type="text" id="rent" value="" name="rent" />
                    </div>
                    <div id="tab3" class="tab-pane fade">
                        <p>Most Popular Occupation</p>
                        <form>
                            <fieldset>
                                <div class="form-group">
                                    <select id="occupation" name="occupation" class="form-control">
                                        <option value="187939662">All</option>
                                        <option value="187939663">Agriculture, forestry, mining</option>
                                        <option value="187939664">Utilities</option>
                                        <option value="187939665">Construction</option>
                                        <option value="187939666">Manufacturing</option>
                                        <option value="187939667">Wholesale trade</option>
                                        <option value="187939668">Retail trade</option>
                                        <option value="187939669">Transportation, Warehousing, and Utilities</option>
                                        <option value="187939670">Information and communications</option>
                                        <option value="187939671">Finance, insurance, and real estate</option>
                                        <option value="187939672">Professional, scientific, management, administrative</option>
                                        <option value="187939673">Educational, social and health services</option>
                                        <option value="187939674">Arts, entertainment, recreation, accommodations, food services</option>
                                        <option value="187939675">Other services</option>
                                        <option value="187939676">Public administration</option>
                                    </select>
                                </div>
                            </fieldset>
                        </form>
                        <br>
                        <p>Most Popular Race</p>
                        <form>
                            <fieldset>
                                <div class="form-group">
                                    <select id="race" name="race" class="form-control">
                                        <option value="all">All</option>
                                        <option value="white">White</option>
                                        <option value="hispanic">Hispanic</option>
                                        <option value="black">Black</option>
                                        <option value="asian_pacific_islander">Asian Pacific Islander</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </fieldset>
                        </form>
                        <br>
                        <p>Most Popular Age</p>
                        <form>
                            <fieldset>
                                <div class="form-group">
                                    <select id="age" name="age" class="form-control">
                                        <option value="all">All</option>
                                        <option value="0-4">0-4</option>
                                        <option value="5-14">5-14</option>
                                        <option value="5-24">5-24</option>
                                        <option value="45-64">45-64</option>
                                        <option value="65+">65+</option>
                                    </select>
                                </div>
                            </fieldset>
                        </form>
                        <br>
                        <p>Most Popular Sex</p>
                        <form>
                            <fieldset>
                                <div class="form-group">
                                    <select id="sex" name="sex" class="form-control">
                                        <option value="all">All</option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div id="tab4" class="tab-pane fade">
                        <p>Percentage of People with Bachelor's Degree or Higher</p>
                        <input type="text" id="degree" value="" name="degree" />
                        <br>
                        <p>Percentage of People who Speak Another Language</p>
                        <input type="text" id="language" value="" name="language" />
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <!--MAP-->
                <div id="map"></div>
            </div>
        </div>
    </div>
    <!--NAVBAR-->
    <div class="container-fluid" id="nav">
        <a href="/" id="logo" class="btn btn-link " role="button">DEMOGRAF</a>
    </div>
    <!--SLIDE OUT MENU-->
    <div id="side_menu">
        <p class="text-right side_menu_top" id="side_menu_top">
            <a href="#" class="btn btn-link" onclick="$.sidr('close', 'side_menu');">
                <i class="fa fa-times fa-lg"></i>
            </a>
        </p>
        <div id="inside_side_menu" class="inside_side_menu container-fluid">
            <div id="area_name"></div>
            <div id="age_chart"></div>
            <div id="sex_chart"></div>
            <div id="housingcost_chart"></div>
            <div id="median_house_value_chart"></div>
            <div id="median_income_value_chart"></div>
            <div id="poverty_chart"></div>
        </div>
    </div>
    <!--JS LIBRARIES-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/d3.min.js"></script>
    <script src="js/c3.min.js"></script>
    <script src="js/topojson.min.js"></script>
    <script src="js/datamaps.none.min.js"></script>
    <script src="js/ion.rangeSlider.min.js"></script>
    <script src="js/jquery.sidr.min.js"></script>
    <script src="js/numeral.min.js"></script>
    <script src="js/demograf.js"></script>
</body>

</html>
