<!DOCTYPE html>
<html>

<head>
    <title>DEMOGRAF</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DEMOGRAF</title>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/paper.min.css">
    <link rel="stylesheet" href="css/d3-tip.css">
    <link rel="stylesheet" href="css/ion.rangeSlider.css">
    <link rel="stylesheet" href="css/ion.rangeSlider.skinFlat.css">
    <link rel="stylesheet" href="css/custom.css">
</head>

<body>
    <div class="container-fluid" id="form">
        <h3>Filters
        </h3>
        <div class="row">
            <div class="col-md-4">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a data-toggle="tab" href="#tab1">Economic</a></li>
                    <li><a data-toggle="tab" href="#tab2">Tab 2</a></li>
                    <li><a data-toggle="tab" href="#tab3">Tab 3</a></li>
                    <li><a data-toggle="tab" href="#tab4">Tab 4</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane fade in active">
                        <p>Median Income</p>
                        <input type="text" id="income" value="" name="income" />
                        <br>
                        <p>Unemployed Percentage</p>
                        <input type="text" id="unemployed" value="" name="unemployed" />
                        <br>
                        <p>Percentage of those with SNAP</p>
                        <input type="text" id="snap" value="" name="snap" />
                        <br>
                        <p>Percentage of those with Cash Assistance</p>
                        <input type="text" id="cash_assistance" value="" name="cash_assistance" />
                        <br>
                        <p>Poverty Percentage</p>
                        <input type="text" id="poverty" value="" name="poverty" />
                        <br>
                    </div>
                    <div id="tab2" class="tab-pane fade">
                    </div>
                    <div id="tab3" class="tab-pane fade">
                    </div>
                    <div id="tab4" class="tab-pane fade">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="nav">
        <a href="/" id="logo" class="btn btn-link " role="button">DEMOGRAF</a>
    </div>
    <!-- js libs -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/d3.min.js"></script>
    <script src="js/d3-tip.js"></script>
    <script src="js/topojson.min.js"></script>
    <script src="js/datamaps.none.min.js"></script>
    <script src="js/ion.rangeSlider.min.js"></script>
    <script src="js/map.js"></script>
    <script src="js/sliders.js"></script>
    <script src="js/demograf.js"></script>
</body>

</html>
