<a href="/" id="logo" class="btn btn-link " role="button">DEMOGRAF</a>
<div class="jumbotron">
    <div class="container">
        <h1 id="start">DEMOGRAF</h1>
        <p class="lead">DEMOGRAF</p>
        <p><a href="#form" class="btn btn-primary btn-lg" role="button">Start Exploring!</a></p>
    </div>
</div>
<div class="container" id="form">
    <div class="row">
        <div class="col-md-3">
            <h3>Filters
        </h3>
            <p>Median Income</p>
            <input type="text" id="range1" value="" name="range1" />
            <br>
            <p>Housing Cost</p>
            <input type="text" id="range2" value="" name="range2" />
            <br>
            <p>Median Contract Rent</p>
            <input type="text" id="range3" value="" name="range3" />
            <br>
            <p>Unemployed Percentage</p>
            <input type="text" id="range4" value="" name="range4" />
            <br>
            <p>Below Poverty Percentage</p>
            <input type="text" id="range5" value="" name="range5" />
            <br>
            <p>Percentage of Single People</p>
            <input type="text" id="range6" value="" name="range6" />
            <br>
            <p>Percentage of People who speak another Language </p>
            <input type="text" id="range7" value="" name="range7" />
            <br>
            <p>Percentage of People (25+) who have at least a Bachelors Degree. </p>
            <input type="text" id="range8" value="" name="range8" />
            <form>
                <fieldset>
                    <div class="form-group">
                        <label>Select Region</label>
                        <select id="region" name="region" class="form-control">
                            <option value="187939662">all</option>
                            <option value="187939663">agriculture, forestry, mining</option>
                            <option value="187939664">utilities</option>
                            <option value="187939665">construction</option>
                            <option value="187939666">manufacturing</option>
                            <option value="187939667">wholesale trade</option>
                            <option value="187939668">retail trade</option>
                            <option value="187939669">Transportation, Warehousing, and Utilities</option>
                            <option value="187939670">information and communications</option>
                            <option value="187939671">finance, insurance, and real estate</option>
                            <option value="187939672">professional, scientific, management, administrative</option>
                            <option value="187939673">educational, social and health services</option>
                            <option value="187939674">arts, entertainment, recreation, accommodations, food services</option>
                            <option value="187939675">other services</option>
                            <option value="187939676">public administration</option>
                        </select>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-9">
            <div id="map"></div>
        </div>
    </div>
</div>
