<a href="/" id="logo" class="btn btn-link " role="button">San Diego Occupation Explorer</a>
<div class="jumbotron">
    <div class="container">
        <h1 id="start">San Diego Occupation Explorer</h1>
        <p class="lead">San Diego Occupation Explorer</p>
        <p><a href="#form" class="btn btn-primary btn-lg" role="button">Start Exploring!</a></p>
    </div>
</div>
<div class="container" id="form">
    <div class="row">
        <div class="col-md-3">
            <h3>Filters
        </h3>
            <div>
                <div>
                    <input type="text" id="range" value="" name="range" />
                </div>
            </div>
            <form>
                <fieldset>
                    <div class="form-group">
                        <label>Select Region</label>
                        <select id="region" name="region" class="form-control">
                            <option value="187939662">all</option>
                            <option value="187939663">agriculture, forestry, mining</option>
                            <option value="187939664">utilities</option>
                            <option value="187939665">construction</option>
                            <option value="187939666">manufacturing</option>
                            <option value="187939667">wholesale trade</option>
                            <option value="187939668">retail trade</option>
                            <option value="187939669">Transportation, Warehousing, and Utilities</option>
                            <option value="187939670">information and communications</option>
                            <option value="187939671">finance, insurance, and real estate</option>
                            <option value="187939672">professional, scientific, management, administrative</option>
                            <option value="187939673">educational, social and health services</option>
                            <option value="187939674">arts, entertainment, recreation, accommodations, food services</option>
                            <option value="187939675">other services</option>
                            <option value="187939676">public administration</option>
                        </select>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-md-9">
            <div id="map"></div>
        </div>
    </div>
</div>
<div class="container">
    <h2>Delphi Data</h2>
    <p>Smoking in adults by age from 1984-Present:</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Year</th>
                <th>Gender</th>
                <th>Percentage</th>
                <th>Respondents</th>
            </tr>
        </thead>
        <tbody id="delphi-table">
        </tbody>
    </table>
</div>
