/* Body  */

body {
    padding-top: 50px;
}
/* Buttons */

.btn-link {
    font-size: large;
    color: white;
    background-color: #212121;
}

.btn-link:hover {
    color: rgb(220, 220, 220);
    background-color: #212121;
}
/* Navbar */

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
}
/* Jumbotron */

.jumbotron {
    height: 100vh;
    padding-top: 200px;
    background-color:white;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        height: 100vh;
    }
}
/* MAP */

#map {
    min-width: 100%;
    min-height: 100vh;
}

#map path {
    cursor: pointer !important;
    stroke-width: 1.5px !important;
    fill: #2196f3 !important;
}

#map path:hover,
#map path.highlighted {
    fill: #f39 !important;
}
/* Side Menu */

.sidr {
    width: 460px;
    background: white;
}

.sidr.right {
    right: -460px;
    left: auto;
}

.sidr.left {
    right: auto;
    left: -460px;
}

#side_menu_top {
    background-color: #212121;
}
