body {
    padding-top: 50px;
}

.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
}

#map {
    min-height: 100vh;
    min-width: 100%;
}

path {
    stroke-width: 1.5px !important;
    stroke: white !important;
    fill: #990033 !important;
    cursor: pointer !important;
}

path:hover,
path.highlighted {
    fill: #3399ff !important;
}

div.tooltip {
    position: absolute !important;
    background-color: white !important;
    border: 1px solid black !important;
    color: black !important;
    font-weight: bold !important;
    padding: 4px 8px !important;
    display: none !important;
}

@media screen and (min-width: 768px){
.jumbotron {
  height: 100vh;
}
}

.jumbotron {

  height: 100vh;
}